@import './utils/fonts';
@import './utils/variables';
@import './base';

@import './utils/utils';
@import './utils/text.scss';

@import './components/buttons';
@import './components/carousel';
@import './components/chefs-card';
@import './components/format-card';
@import './components/links';

@import './layouts/advantages-section';
@import './layouts/chefs-section';
@import './layouts/contact-section';
@import './layouts/footer';
@import './layouts/form-terms';
@import './layouts/formats-section';
@import './layouts/header.scss';
@import './layouts/hero-section';
@import './layouts/input';
@import './layouts/mobile-menu';
@import './layouts/modal';
@import './layouts/section';
@import './layouts/traditions-section';


.section {
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}