:root {
    --color-primery-dark: #31261A;
    --color-primery-light: #FAF4EA;
    --color-brend-normal: #819B57;
    --color-brend-dark: #465929;
    --color-brend-light: #cfcfbc;
    --color-secondary-dark: #A18268;
}