.button {
    padding: 16px 32px;
    color: var(--color-primery-light);
    font-weight: 600;
    background-color: var(--color-brend-normal);
    border: 2px solid var(--color-brend-normal);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: var(--color-brend-dark);
}