.footer {
    padding: 32px 0;
    position: relative;
    background-image: url(../images/footer-background.png);
    background-color: var(--color-primery-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer::before,
.footer::after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: '';
}

.footer::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url('/images/decor-bread-small.png');
}

.footer::after {
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url('/images/decor-bread-large.png');
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}

.address-list,
.address-info {
    flex-grow: 1;
}

.addres-link {
    color: var(--color-primery-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.addres-link:hover {
    color: var(--color-brend-normal);
}

.address-icon {
    fill: var(--color-primery-light);
}

.address-icon:hover {
    fill: var(--color-brend-normal);
}

.addres-copyright {
    font-size: 14px;
}