.hero-section {
    padding: 272px 0;
    background-image: linear-gradient(102.76deg,
            rgba(18, 18, 17, 0.78) 2.03%,
            rgba(18, 18, 17, 0.6) 58.46%,
            rgba(18, 18, 17, 0) 90.36%),
        url(../images/hero-section-background.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    &__title {
        margin-bottom: 0;
        color: var(--color-primery-light);
        text-align: center;
        font-size: 67px;
        line-height: 1;
        font-weight: 900;

        @media screen and (min-width: $bp-tablet) {
            font-size: 128px;
            line-height: 1.5;
        }
    }
}