.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primery-light);
    transform: translateX(100%);
    transition: transform 0.3s;

    &.is-open {
        transform: translateX(0);
    }
}