.traditions-section {
    padding-top: 96px;

    &__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    }

    &__content {
    min-width: 710px;
    }
        
    &__title {
    margin-bottom: 42px;
    width: 710px;
    }

    &__text {
        &--limited {
        max-width: 340px;
      } 
    }
}
